<div id='main_text'>
	<h3 id="res-h3"> Спасибо за ваше участие в исследовании!  </h4>

	<h5 id='res-h5'> Ваш результат и некоторые рекомендации:  </h5>
	<div id='text_res'>
		<% @texts.each do |text| %>
			<div class="r-text"><%= text %></div>
		<% end %>
	</div>
	<div id='share'>
		<%= text_field_tag('share_link', new_user_path(sc: @save_user_cookie, :only_path => false), size: 275)  %>
		<%= button_tag :class => "btn btn-primary", :id =>'share_button' do %>
		 <%= t('Поделиться ссылкой на исследование')%>
		<% end %>
	</div>	
</div>
