// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
	margin:10px;
}
body
{
	margin-bottom:50px;
}

.input-append
{
	width:100%;
}

.inputQ
{
	width:93%;
}

.input-q
{
	width:93%;
    font-size: 20px;

}

.answer-block
{
	/* margin-left:20px; */
}

.question-block
{
	margin-top:10px;
}

h1
{
	margin-bottom:40px;
}

textarea 
{
	width:98%;
}
textarea.answer
{
	width:48%;
}

form
{
	margin-top:40px;
}