// Place all the styles related to the Scales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.intervals
{
	width: 45px;
}

.text_i
{
	width: auto;
}

form
{
	margin-top: 0px;
}